/ %p#notice= notice
/ Wrapper
.wrapper
  .container
    / Our Products
    .row
      .col-sm-12
        %h3.headline.first-child.text-color
          %span.border-color Our Products
    .row
      - @products.each do |product|
        .col-sm-4
          .shop-product
            = link_to store_product_path(@store,product) do 
              %img.img-responsive{alt: "Product", src: "/assets/product-1.jpg"}/
              %h5.primary-font
                = product.name
              %p
                = product.price
              %btn.btn-sm.btn-color
                Product Details
              %br
    / / .row
  / / .container
/ / .wrapper
