/ %p#notice= notice
/ Wrapper
.wrapper
  .container
    / Our Products
    .row
      .col-sm-12
        %h3.headline.first-child.text-color
          %span.border-color Our Products
    .row
      - @products.each do |product|
        .col-sm-4
          .shop-product
            %a{href: "/stores/1/products/1"}
              %img.img-responsive{alt: "...", src: "/assets/product-1.jpg"}/
            %a{href: "/stores/1/products/1"}
              %h5.primary-font
              = product.name
            %p
              = product.price
            %a.btn.btn-sm.btn-color{href: "/stores/1/products/1"}
              Product Details
            %br
    / / .row
  / / .container
/ / .wrapper
