/ Wrapper
.wrapper
  / Topic Header
  .color-jumbotron
    .container
      .row
        .col-sm-12
          %h1.text-center The Gobbles Shop
          %h3.primary-font.text-center Created by Gene Nettles, Richard Salvucci, and Preston Bernstein
          %form.form-inline.text-center{role: "form"}
            %a.btn.btn-color.btn-lg{href: "/stores/1"} Browse Now!
      / / .row
    / / .container
  / / .color-jumbotron
  .container
    / Intro
    .row.intro
      .col-sm-10
        %h2.text-color An Ecommerce Rails Application!
        %p.text-muted This website was created to test our ability to use has_many, belongs_to, and has_many :through relationships between tables. These relationships between the tables drive the user's progression through the website.
        %br
        %p.text-muted The very particular nature in writing these relationships forced us to work together with one-another to get each individual process of the program to work. This close-thinking as a group helped develop our ability to code as a team, as well as our ability to think logically.
    / / .row 
  / / .container
/ / .wrapper
