/ Wrapper
.wrapper
  / Topic Header
  .color-jumbotron
    .container
      .row
        .col-sm-12
          %h1.text-center The Gobbles Shop
          %h3.primary-font.text-center Search through thousands of our products here:
          %form.form-inline.text-center{role: "form"}
            %a.btn.btn-color.btn-lg{href: "/stores/1"} Browse Now!
      / / .row
    / / .container
  / / .color-jumbotron
  .container
    / Intro
    .row.intro
      .col-sm-10
        %h2.text-color An Ecommerce Rails Application!
        %p.text-muted Team Gobbles was created to show our skills of ... The purpose of this exercise was to ... Check out our work and we hope you have a great user experience!
    / / .row
  / / .container
/ / .wrapper
