/ Wrapper
.wrapper
  / Topic Header
  .topic
    .container
      .row
        .col-sm-4
          %h3.primary-font Shopping Cart
        .col-sm-8
          %ol.breadcrumb.pull-right.hidden-xs
            %li
              %a{:href => "index.html"} Home
            %li
              %a{:href => "shop.html"} Shop
            %li.active Cart
  .container.shopping-cart
    .row
      .col-sm-12
        %table.table.table-bordered
          %thead
            %tr
              %th 3 items to buy
              %th Price
              %th Quantity
          %tbody
            %tr
              %td
                %img.img-responsive{:alt => "...", :src => "img/product-1.jpg"}
                  .item
                    Product Title #1
                    %p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
              %td $339,00
              %td
                %input.form-control{:name => "pcs", :type => "number", :value => "1"}/
            %tr
              %td
                %img.img-responsive{:alt => "...", :src => "img/product-2.jpg"}
                  .item
                    Product Title #2
                    %p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
              %td $210,00
              %td
                %input.form-control{:name => "pcs", :type => "number", :value => "1"}/
            %tr
              %td
                %img.img-responsive{:alt => "...", :src => "img/product-3.jpg"}
                  .item
                    Product Title #3
                    %p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
              %td $50,00
              %td
                %input.form-control{:name => "pcs", :type => "number", :value => "1"}/
        %ul.text-right.checkout
          %li
            %strong> Total Price
            \: $599
          %li
            %strong> Shipping
            \: Free
          %li
            %a.btn.btn-color.btn{:href => "#"} Proceed to checkout
    / / .row
  / / .container
/ / .wrapper