    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Topic Header -->
      <div class="topic">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3 class="primary-font">Shop Item</h3>
            </div>
            <div class="col-sm-8">
              <ol class="breadcrumb pull-right hidden-xs">
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li class="active">Item</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="container shop-item">
        <div class="row">
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-6">
                <div class="product-img">
                  <a href="img/product-1.jpg" data-lightbox="products">
                    <img src="img/product-1.jpg" class="img-responsive main" alt="...">
                  </a>
                  <div class="row">
                    <div class="col-xs-4">
                      <a href="img/product-1.jpg" data-lightbox="products">
                        <img src="img/product-1.jpg" class="img-responsive" alt="...">
                      </a>
                    </div>
                    <div class="col-xs-4">
                      <a href="img/product-2.jpg" data-lightbox="products">
                        <img src="img/product-2.jpg" class="img-responsive" alt="...">
                      </a>
                    </div>
                    <div class="col-xs-4">
                      <a href="img/product-3.jpg" data-lightbox="products">
                        <img src="img/product-3.jpg" class="img-responsive" alt="...">
                      </a>
                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
              <div class="col-sm-6">
                <h3 class="primary-font first-child">Product Title</h3>
                <ul class="rating list-inline">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li> 
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span class="text-muted reviews">(12 reviews)</span>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
                </p>
                <div class="price-block">
                  <span class="price">US $99,99 x</span>
                  <input type="number" name="pcs" value="1" class="form-control">
                </div>
                <br />
                <a class="btn btn-color" href="#"><i class="fa fa-shopping-cart"></i> Add to cart</a>
              </div>
            </div>

            <!-- Item Description -->
            <div class="row">
              <div class="col-sm-12">
                <h3 class="headline text-color">
                  <span class="border-color">Product Details</span>
                </h3>
                <p>
                  Nunc in neque nec arcu vulputate ullamcorper. Ut id orci ac arcu consectetur fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis hendrerit enim id arcu lacinia, id commodo ante semper. Sed vel ante nec nisi vestibulum congue. Pellentesque non lacus in tortor rutrum tristique.
                </p>
              </div>
            </div> <!-- / .row -->
            <div class="row">
              <div class="col-sm-12">
                <h3 class="headline text-color">
                  <span class="border-color">Similar Products</span>
                </h3>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="shop-product featured">
                      <a href="shop-item.html"><img src="img/product-1.jpg" class="img-responsive" alt="..."></a>
                      <a href="shop-item.html"><h5 class="primary-font">Product #1</h5></a>
                      <p class="text-muted">
                        Nunc in neque nec arcu vulputate ullamcorper.
                      </p>
                      <p class="price">
                        <span class="old">$80,99</span>
                        <span class="new">$59,99</span>
                      </p>
                      <a href="#" class="btn btn-sm btn-color"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="shop-product">
                      <a href="shop-item.html"><img src="img/product-2.jpg" class="img-responsive" alt="..."></a>
                      <a href="shop-item.html"><h5 class="primary-font">Product #2</h5></a>
                      <p class="text-muted">
                        Nunc in neque nec arcu vulputate ullamcorper.
                      </p>
                      <p>
                        $200,00
                      </p>
                      <a href="#" class="btn btn-sm btn-color"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="shop-product">
                      <a href="shop-item.html"><img src="img/product-3.jpg" class="img-responsive" alt="..."></a>
                      <a href="shop-item.html"><h5 class="primary-font">Product #3</h5></a>
                      <p class="text-muted">
                        Nunc in neque nec arcu vulputate ullamcorper.
                      </p>
                      <p>
                        $50,00
                      </p>
                      <a href="#" class="btn btn-sm btn-color"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                    </div>
                  </div>
                </div> <!-- / .row -->
              </div>
            </div> <!-- / .row -->
          </div>
          <div class="col-sm-3">
            <!-- Categories -->
            <div class="shop-category first-child">Categories</div>
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#" data-toggle="tab">Books</a></li>
              <li><a href="#" data-toggle="tab">Movies</a></li>
              <li><a href="#" data-toggle="tab">Music</a></li>
              <li><a href="#" data-toggle="tab">Computers</a></li>
              <li><a href="#" data-toggle="tab">Clothing</a></li>
            </ul>

            <!-- Search -->
            <div class="shop-category">Search</div>
            <form role="form" class="shop-search">
              <div class="form-group">
                <label for="categories" class="sr-only">Select category</label>
                <select class="form-control" id="categories">
                  <option>Select category</option>
                  <option>Books</option>
                  <option>Movies</option>
                  <option>Music</option>
                  <option>Computers</option>
                  <option>Clothing</option>
                </select>
              </div>
              <div class="form-group">
                <label for="query" class="sr-only">Search</label>
                <input type="text" class="form-control" placeholder="Looking for..." id="query">
              </div>
              <button class="btn btn-color">Search</button>
            </form>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </div> <!-- / .wrapper -->