!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    / <meta http-equiv="X-UA-Compatible" content="IE=edge">
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "/assets/favicon.png", rel: "shortcut icon"}/
    %title Gobbles - Shop
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / Bootstrap core CSS
    %link{href: "/assets/bootstrap.css", rel: "stylesheet"}/
    / Custom styles for this template
    %link{href: "/assets/color-styles.css", rel: "stylesheet"}/
    %link{href: "/assets/ui-elements.css", rel: "stylesheet"}/
    %link{href: "/assets/custom.css", rel: "stylesheet"}/
    / Resources
    %link{href: "/assets/animate.css", rel: "stylesheet"}/
    %link{href: "/assets/font-awesome/css/font-awesome.min.css", rel: "stylesheet"}/
    %link{href: "http://fonts.googleapis.com/css?family=Oswald:400,700,300", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Roboto:400,700,500,400italic,500italic,700italic", rel: "stylesheet", type: "text/css"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body.body-blue
    = yield
